.textdate{
    font-size: 20px;
}

.dateselector{
 background-image: url("bg1.png");
 object-fit: cover;
 padding: 20px;
}

.mainlist{
    background-image: url("bg2.png");
    object-fit: fill;
    float: center;
}

.question{
    padding: 30px;
}

.buttonselection{
    padding: 10px;
    text-align: center;
}

.filltext{
    padding: 40px;
}

.tagfocus{
    text-align: center;
    background: #EB5B5B;
    padding: 15px; 
    width: 100px;
    height: 50px; 
}

.tagfitin{
    text-align: center;
    background: #E5E944;
    padding: 15px; 
    width: 100px;
    height: 50px; 
}

.tagrevive{
    text-align: center;
    background: #9BEB5B;
    padding: 15px; 
    width: 100px;
    height: 50px; 
}

.taggoals{
    text-align: center;
    background: #5BEBC8;
    padding: 15px; 
    width: 100px;
    height: 50px; 
}

.innerfocus{
    background: #ffffff;
    padding: 15px; 
    width: 800px;
    height: 50px;  
}

.innerrevive{
    background: #ffffff;
    padding: 15px; 
    width: 800px;
    height: 50px;  
}

.innergoals{
    background: #ffffff;
    padding: 15px; 
    width: 800px;
    height: 50px;  
}

.innerfitin{
    background: #ffffff;
    padding: 15px;
    width: 800px;
    height: 50px;  
}